DISCORD_TOKEN=
DISCORD_TEST_GUILD_ID=
LAVALINK_PASSWORD=
LAVALINK_HOST=lavalink
LAVALINK_PORT=2333
MUSIC_LIBRARY_HOST_PATH=./music
QUARANTINE_HOST_PATH=./quarantine
WEASEL_AUTO_QUARANTINE_SUPERDISLIKE=false
